block content
    div.overlay.overlay_style
    div.channel-header-menu__add.channel-header-menu__info_style
        form.channel-add-form__form.channel-add-form__form_style
            div.channel-add-form__name.channel-add-form__name_style Add member
            div.channel-add-form__scroll.channel-add-form__scroll_style

