.channel-header-menu__info {
    position: fixed; /*make it centered and overlay*/
    top: 18vh; /*experimenting with viewports*/
    left: 66vw;
    align-self: center;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh; /*experimenting with viewports*/
    width: 40vh;
    border-radius: 5px;
    z-index: 11; /*make it overlay*/
    padding: 5px;
}
.channel-header-menu__info_style {
    background: var(--global-dropdown-color);
    -webkit-backface-visibility: hidden;
}

.channel-header-menu__info_overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10; /*make it overlay*/
    display: none;
}

.channel-header-menu__info__text{
    padding: 5px;
    margin: 5px 10px;
}
.channel-header-menu__info_style__text{
    font-family: var(--global-font-family-Montserrat);
}
