div.bem-chat-block__image-row
    div.bem-chat-block__image-row__loader.bem-chat-block__image-row__loader_style
    img.bem-chat-block__image-row__image.bem-chat-block__image-row__image_style(src='images/sasha.jpeg')
div.bem-user-found__message-column
    div.bem-user-found__message-column__fullname-row.bem-user-found__message-column__fullname-row_style= fullname
    div.bem-user-found__message-column__username-row.bem-user-found__message-column__username-row_style= username