block content
    div.channel-header-menu__advice_overlay
    div.channel-header-menu__advice.channel-header-menu__advice_style
        p.channel-header-menu__advice__text.channel-header-menu__advice_style__text you can buy this sticker pack
        button.wrkspace-form__form__submit-button.wrkspace-form__form__submit-button_style(type='ok') Ok!