div.overlay.overlay_style
div.overlay_button
    div.overlay_button__image-container
        img.overlay_button__image-container__icon.overlay_button__image-container__icon_size-big.overlay_button__image-container__icon_style(src="/images/close_white.png")
div.buy-stickerpack.buy-stickerpack_style.buy-stickerpack_size.buy-stickerpack_width
    div.buy-stickerpack__text.buy-stickerpack__text_size.buy-stickerpack__text_style.buy-stickerpack__text_width wanna buy this sticker pack?
    div.buy-stickerpack__button-row.buy-stickerpack__button-row_size.buy-stickerpack__button-row_width
        button.buy-stickerpack__button-row__button.buy-stickerpack__button-row__button_style(type='ok') sure