block content

    a.back(href='/menu' data-section = 'mainPage') back
    form.login-form(method='POST' action='/login' )
        div.log-in-form
            h1.name Log In

            input.input_field(type='text'  placeholder='email' name='email')

            input.input_field(type='password'  placeholder='password' name='password')
            button.submit-button(type='submit') Log in
