.typing-block {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 8px 0 0 0;
}

.typing-block_size {
    //@media screen and (min-height: 10px) {
    //    height: 330px;
    //}
    //
    //@media screen and (min-height: 400px) {
    //    height: 500px;
    //}
    //
    //
    //@media screen and (min-height: 610px) {
    //    height: 625px;
    //}
    //
    //@media screen and (min-height: 810px) {
    //    height: 755px;
    //
    //}
    height: fit-content;
}
.typing-block_width {

    @media screen and (min-width: 100px) {
        width: 225px;
    }

    @media screen and (min-width: 1000px) {
        width: 40vw;
    }

}