block left column
    div.bem-search-menu.bem-search-menu_outline
        button.bem-search-menu__button.bem-search-menu__button_style
            | +
        form.bem-search-menu__form
            input.bem-search-menu__form__input.bem-search-menu__form__input_style(type="search" name="name" required placeholder="search")
            div.bem-search-menu__form__button.bem-search-menu__form__button_style(data-section='search')
                img.bem-search-menu__form__button__icon.bem-search-menu__form__button__icon_styles(src='../images/loupe_2.png')
    div.bem-all-chats
        div.bem-all-chats-window.bem-all-chats-window_style
