block content

div.container
    div.row
        div.column.left
            div.row#chat-menu
                div.column.search
                    img#loupe(src="images/loupe_2.png")
            div.column.chat-msg
                block messages
        div.column.right
            block page
