block content
div.container
    div.row
        div.column.left
            div.row.chat-menu
                div.dropdown
                    button.mainmenubtn  create
                    div.dropdown-child
                        a(href='/menu' data-section = 'mainPage') room
                        a(href='/menu' data-section = 'mainPage')  chat
                form.search(method="GET" action=`/users/`  )
                    input.search-input(type="search" name="name" required placeholder="search")
                    input.search-input-lupa(type="submit" value="🔍" data-section='search')
            div.column.chat-msg
                if search
                    block search
                else
                    block messages
        div.column.right
            block page
