
/*attach-component element*/

.attach-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  position: relative;
  padding: 2px 2px 2px 2px;
}

.attach-component_style {
  border-radius: 10px;
}

.attach-component__image {
  object-fit: scale-down;
  object-position: top;
}

.attach-component__image_size {
  @media screen and (min-height: 10px) {
    width: 30px;
    height: 30px;
  }

  @media screen and (min-height: 400px) {
    width: 40px;
    height:40px;
  }

  @media screen and (min-height: 610px) {
    width: 50px;
    height: 50px;
  }

  @media screen and (min-height: 810px) {
    width: 60px;
    height: 60px;
  }
}

.overlay_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  right: 20px;
}

.overlay_button__image-container {
  flex: 0 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  align-self: flex-end;
}


/*icon element*/

.overlay_button__image-container__icon {
  object-fit: scale-down;
  object-position: top;
}

.overlay_button__image-container__icon_size {
  @media screen and (min-height: 10px) {
    width: 10px;
    height: 10px;
  }

  @media screen and (min-height: 400px) {
    width: 12px;
    height: 12px;
  }

  @media screen and (min-height: 610px) {
    width: 13px;
    height: 13px;
  }

  @media screen and (min-height: 810px) {
    width: 15px;
    height: 15px;
  }
}

.overlay_button__image-container__icon_style {
  filter: opacity(0.6);
}

.overlay_button__image-container__icon_style:hover {
  cursor: pointer;
}