div.attach-component
    div.overlay_button.overlay_button_hidden
        div.overlay_button__image-container
            img.overlay_button__image-container__icon.overlay_button__image-container__icon_size.overlay_button__image-container__icon_style(src="/images/close.png")
    div.attach-component__loader-container.attach-component__loader-container_size
        div.attach-component__loader.attach-component__loader_style.attach-component__loader_size
    if type==0
        img.attach-component__image.attach-component__image_style.attach-component__image_size.attach-component__image_hidden(id=`photoattach-${id}`)
    if type==1
        img.attach-component__image.attach-component__image_style.attach-component__image_size-file.attach-component__image_hidden(id=`photoattach-${id}`)
        div.attach-component__text.attach-component__text_style.attach-component__image_size-file

