div.attach-component.attach-component_style
    img.attach-component__image.attach-component__image_size(id=`photoattach-${id}`)
    div.overlay_button
        div.overlay_button__image-container
            img.overlay_button__image-container__icon.overlay_button__image-container__icon_size.overlay_button__image-container__icon_style(src="/images/close.png")
