.bem-header {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    margin: 0 5px 0 5px;
    height: 5vh; /*bem-primary-container is 95vh*/
}

/*logo component*/

.bem-header__logo {
    float: right;

}

.bem-header__logo__image {
    object-position: center center;
    object-fit: fill;
    height: 50px;
    width: 80px;
}