.register-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.register-form_size {

    @media screen and (min-height: 10px) {
        height: 200px;
    }

    @media screen and (min-height: 400px) {
        height: calc(100px + 30vh);
    }

    @media screen and (min-width: 10px) {
        width: 300px;
    }

    @media screen and (min-width: 600px) {
        width: calc(50px + 30vw);

    }
}

.register-form_style {
    box-shadow: 5px 5px 5px 5px var(--global-darkgrey-color);
}

/*form element*/

.register-form__form {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

/*name element in form*/

.register-form__form__name-field {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-self: center;
    width: 100%;
}

.register-form__form__name-field_style {
    font-family: var(--global-font-family-Montserrat);
    font-weight: 500;
    font-size: 28px;
    color: var(--global-green-color-1);
}

/*button element in form*/

.register-form__form__button {
    flex: 0 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-self: center;
    border: none;
    width: 20%;
}

.register-form__form__button_style {
    font-family: var(--global-font-family-Roboto);
    text-transform: uppercase;
    background: #FFFFFF;
    color: var(--global-green-color-1);
    font-weight: 500;
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid var(--global-green-color-1);
}

.register-form__form__button_style:focus {
    outline: none;
}

/*login-reference element in form*/

.register-form__form__login-ref {
    flex: 0 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;
    width: 100%;
}

.register-form__form__login-ref__text {
    margin: 0 0 0 0;
}

.register-form__form__login-ref__text_style {
    font-family: var(--global-font-family-Roboto);
    font-size: 15px;
    color: #000000;
    font-style: italic;
    font-weight: 300;
}