block content
    div.bem-support-btn__support_btn.bem-support-btn__support_btn_style
        div.bem-support-btn__blockIframe
            iframe(width='120', height='150', src='https://res.cloudinary.com/practicaldev/image/fetch/s--3rFO85cD--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://thepracticaldev.s3.amazonaws.com/i/bkv3xbjb74epempcjone.gif')
    div.bem-support-btn__support_btn.bem-support-btn__support_btn_style
        div.bem-support-btn_img
            img.bem-support-btn_img__image(src='/images/lifebuoy.png')