block content
    div.bem-support-btn__support_btn.bem-support-btn__support_btn_style
        div.bem-support-btn__blockIframe
            iframe(width='340', height='440', src='http://95.163.209.195:8082')
    div.bem-support-btn__support_btn.bem-support-btn__support_btn_style
        div.bem-support-btn_img
            img.bem-support-btn_img__image(src='/images/lifebuoy.png')