block content
div.bem-primary-container.bem-primary-container_style
    if viewType !== "login" && viewType !== "signUp" && viewType !== "mainPage"
        div.bem-column.bem-column_left
            block left column
        div.bem-column.bem-column_right.bem-column_left-outlined
            block page