div.chat-msg__container
    div.primary-row.primary-row_left
        if (message_type == 0)
            div.primary-row__text.primary-row__text_style.primary-row__text_style-left=text
        if (message_type == 3)
            div.primary-row__text.primary-row__text_style.primary-row__text_style-left
                img.primary-row__image-container__image.primary-row__image-container__image_size(src=src)
        if (message_type == 1)
            div.primary-row__text.primary-row__text_style.primary-row__text_style-left
                div.primary-row__loader-container.primary-row__loader-container_size
                    div.primary-row__loader-container__loader.primary-row__loader-container__loader_style.primary-row__loader-container__loader_size
                div.primary-row__image-container.primary-row__image-container_style-left.primary-row__image-container_hidden
                    img.primary-row__image-container__image.primary-row__image-container__image_size(src='/images/abkhazia.jpg')
                audio.primary-row__audio.primary-row__audio_hidden(controls src=record )
        div.primary-row__time.primary-row__time_style.primary-row__time_style-left=message_time
        //div.primary-row__icon-container
            img.primary-row__icon-container__icon.primary-row__icon-container__icon_style(src='/images/dots.png')
    div.secondary-row.secondary-row_left
        div.secondary-row__edited.secondary-row__edited_style