div.bem-wrkspace-visible.bem-wrkspace-visible_style
    div.bem-wrkspace-visible__image-row
        img.bem-wrkspace-visible__image-row__image.bem-wrkspace-visible__image-row__image_style(src='../images/abkhazia.jpg')
    div.bem-wrkspace-visible__info-column
        div.bem-wrkspace-visible__info-column__name-row.bem-wrkspace-visible__info-column__name-row_style= Name
        img.bem-wrkspace-add__icon.bem-wrkspace-add__icon_style(src="../images/add.png" title="add chanel")
        if Channels !== null
            div.bem-wrkspace-visible__info-column__chann-row.bem-wrkspace-visible__info-column__chann-row_style= Channels.length + " channels"

