div.wrkspace-visible.wrkspace-visible_style
    div.wrkspace-visible__image-row
        img.wrkspace-visible__image-row__image.wrkspace-visible__image-row__image_style(src='../images/abkhazia.jpg')
    div.wrkspace-visible__info-column
        div.wrkspace-visible__info-column__name-row.wrkspace-visible__info-column__name-row_style= Name
        div.wrkspace-visible__info-column__chann-row
            if Channels === null
                div.wrkspace-visible__info-column__chann-row__channels.wrkspace-visible__info-column__chann-row__channels_style=  ''
            else
                div.wrkspace-visible__info-column__chann-row__channels.wrkspace-visible__info-column__chann-row__channels_style=  Channels.length +' channels'
                btn.wrkspace-visible__info-column__chann-row__btn ⌄
            div.wrkspace-visible__info-column__chann-row__add-channel-button
                img.wrkspace-visible__info-column__chann-row__add-channel-button__icon.wrkspace-visible__info-column__chann-row__add-channel-button__icon_style(src="../images/add.png" title="add channel")


