block page
    div.row.chat-container
        div.row.head-chat-head_chat
            div.head-chat-avatar-container
                img.head-chat-avatar(src='/' + chatUserPhoto)
            div.column.head-chat-info
                div.head-chat-name_usr #{chatUser.username}
                div.head-chat-time last seen..
        div.row.head-chat-important

        div.chat-scroll
            include ./msgLeft
            include ./msgRight
        form.row.input-container
            div.icon-chat-container
                img.icon-chat(src="images/add.png")
            textarea.message-text-input(placeholder="chat here..")
            div.icon-chat-container
                img.icon-chat( src="images/send.png")
