block page
    div.row.chat-container
        div.row.head-chat-head_chat
            div.head-chat-avatar-container
                img.head-chat-avatar(src='/' + photo)
            div.column.head-chat-info
                div.head-chat-name_usr #{name}
                div.head-chat-time last seen..
        div.row.head-chat-important
            p.important-message some text
        div.chat-scroll
            div.head-chat-column-left
                include ./msgLeft
            div.head-chat-column-right
                include ./msgRight
        div.row.input-container
            div.icon-chat-container
                img.icon-chat(src="images/add.png")
            textarea.message-text-input
            div.icon-chat-container
                img.icon-chat(src="images/send.png")
