block page
    div.row.chat-container
        div.chat-scroll
            div.row.message-chat
        div.row.input-container
            div.icon-chat-container
                img.icon-chat(src="images/add.png")
            textarea.message-text-input
            div.icon-chat-container
                img.icon-chat(src="images/send.png")
