div.bem-chat-column-msg.bem-chat-column-msg_left
    div.bem-chat-column-msg__text.bem-chat-column-msg__text_style.bem-chat-column-msg__text_style-left OaOAoAO
    div.bem-chat-column-msg__time.bem-chat-column-msg__time_style.bem-chat-column-msg__time_style-left=time