div.chat-column-msg.chat-column-msg_left
    div.chat-column-msg__text.chat-column-msg__text_style.chat-column-msg__text_style-left=text
    div.chat-column-msg__time.chat-column-msg__time_style.chat-column-msg__time_style-left=time