div.chat-column-msg.chat-column-msg_right
    div.chat-column-msg__time.chat-column-msg__time_style.chat-column-msg__time_style-right=time
    div.chat-column-msg__text.chat-column-msg__text_style.chat-column-msg__text_style-right=text

