div.bem-chat-column-msg.bem-chat-column-msg_right
    div.bem-chat-column-msg__time.bem-chat-column-msg__time_style.bem-chat-column-msg__time_style-right=time
    div.bem-chat-column-msg__text.bem-chat-column-msg__text_style.bem-chat-column-msg__text_style-right=text

