.bem-wrkspace-block{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /*so everything in one line*/
    width: 100%;

    box-sizing: border-box;
}

.bem-wrkspace-block_style {
    background-color: #FFFFFF;
    box-shadow: 0 0 8px var(--global-grey-color);
}

.bem-wrkspace-block_style:hover {
    box-shadow: 0 0 8px #475C53;

}
