div.wrkspace-search.wrkspace-search_size
    div.wrkspace-search__column.wrkspace-search__search-container_style
        div.search-menu.search-menu_size
            form.search-menu__form
                div.search-menu__form__input-container.wrkspace-search__search-container__input_style
                    input.search-menu__form__input-container__input.search-menu__form__input-container__input_style.fluid-font-size_3(type="search" name="name" placeholder="find user")
                    div.search-menu__form__button.search-menu__form__button_style
                        img.search-menu__form__button__icon.search-menu__form__button__icon_style.search-menu__form__button__icon_size(src='/images/loupe_2.png')
        div.wrkspace-search__search-container
            div.wrkspace-search__msgwindow.wrkspace-search__msgwindow_style