block content
    div.bem-overlay.bem-overlay_style
    div.bem-wrkspace-form.bem-wrkspace-form_style
        form.bem-wrkspace-form__form
            div.bem-wrkspace-form__form__name.bem-wrkspace-form__form__name_style create wrkspace
            input.bem-wrkspace-form__form__input-field.bem-wrkspace-form__form__input-field_style(type='text' placeholder='input name' name='wsName')
            div.bem-wrkspace-form__form__error-field.bem-wrkspace-form__form__error-field_style
            button.bem-wrkspace-form__form__submit-button.bem-wrkspace-form__form__submit-button_style(type='submit') create!
