.chat-msg {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 2px 0 2px 0;
}

.chat-msg_left {
    justify-content: flex-start;
}

.chat-msg_right {
    justify-content: flex-end;
}

/* text element */
.chat-msg__text {
    max-width: 50%;
    min-height: 2vh; /*experimenting with viewports*/
    width: auto;
    height: auto;
    text-align: right;
    padding: 5px 5px 5px 5px;
}
.chat-msg__text_style {
    word-wrap: break-word;
    border-radius: 15px;
    font-weight: 300;
    font-size: 16px;
    font-family: var(--global-font-family-Roboto);
    color: #000000;
}

.chat-msg__text_style-left {
    background: var(--global-grey-color);

}

.chat-msg__text_style-right {
    background: var(--global-green-color);
}

/* text element */
.chat-msg__time {
    max-width: 50%;
    min-height: 1vh; /*experimenting with viewports*/
    width: auto;
    height: auto;
    align-self: flex-end;
    padding: 5px 5px 5px 5px;
}
.chat-msg__time_style {
    font-size: 12px;
    font-style: italic;
    font-family: var(--global-font-family-Montserrat);
    color: #000000;
}

.chat-msg__time_style-left {
    color: var(--global-green-color);
}
.chat-msg__time_style-right {
    color: #000000;

}
