block content
    div.stage
        img.box.bounce-2(src='images/plus.png' alt='img')
        img.box.bounce-2(src='images/square-root-mathematical-sign.png' alt='img')
        img.box.bounce-2(src='images/therefore-mathematical-symbol.png' alt='img')
        p.text Whatever work you do, you can do it in CoolSlack
