block content
    div.main-page
        div.main-page__text.main-page__title_style A new perspective on communication
        div.main-page__figures
            img.main-page__figures_img(src = "../../../images/image.png")
        div.main-page__title.main-page__title_style simple and elegant
