block content
    div.main-page
        div.main-page__figures
            div.main-page__figures__image-container
                img.main-page__figures__image-container__image(src='images/plus.png' alt='img')
            div.main-page__figures__image-container
                img.main-page__figures__image-container__image(src='images/square-root-mathematical-sign.png' alt='img')
            div.main-page__figures__image-container
                img.main-page__figures__image-container__image(src='images/therefore-mathematical-symbol.png' alt='img')
        div.main-page__title.main-page__title_style Whatever work you do, you can do it in CoolSlack
