block content
    div.main-page.main-page_size
        div.main-page__text-left.main-page__text-left_style.fluid-font-size_1
            |A new perspective
            br
            |on communication
        div.main-page__figures
            div.main-page__text-center.main-page__text-center_style.fluid-font-size_5
                | Whatever work
                br
                | you do,
                br
                | you can do it in
                br
                | CoolSlack
            //img.main-page__figures_itext(src = "../../../images/text.png")
            div.main-page__figures__img-container.main-page__figures__img-container__img_size
                img.main-page__figures__img-container__img.main-page__figures__img-container__img_size(src = "../../../images/d.png")
        div.main-page__text-right.main-page__text-right_style.fluid-font-size_1  simple and elegant
