div.bem-wrkspace-block__visible-row.bem-wrkspace-block__visible-row_style
    div.bem-wrkspace-block__visible-row__image-column
        img.bem-wrkspace-block__visible-row__image-column__image.bem-wrkspace-block__visible-row__image-column__image_style(src='images/abkhazia.jpg')
    div.column.for-msg
        div.row.name
            p.person= title
        div.row.message
            div.column.wrkspace-info-column
                p.wrkspace-info= members.length + " members"
                p.wrkspace-info= channels.length + " channels"

