block content
    form.bem-Ws-Form
        div.bem-Ws-Form
            h1.bem-Ws-Form_name Input the name of your chanel
            input.bem-Ws-Form_input-field(type='text' placeholder='input name' name='wsName')
            div.error_message
            button.bem-Ws-Form_submit-button(type='submit') Create!
