block left column
    div.search-menu.search-menu_outline
        form.search-menu__form
            input.search-menu__form__input.search-menu__form__input_style(type="search" name="name" required placeholder="find user or message")
    div.all-chats
        div.all-chats-window.all-chats-window_style
            div.all-chats-users-chats
                p.all-chats-users-chats__text Chats:
            div.all-chats-users-wrks
                button.search-menu__button.search-menu__button_style(title="add wrkSpace") WorkSpace  ✚


