block left column
    div.search-menu.search-menu_outline
        form.search-menu__form
            div.search-menu__form__input-container.search-menu__form__input-container_style
                input.search-menu__form__input-container__input.search-menu__form__input-container__input_style(type="search" name="name" placeholder="find user or message")
                div.search-menu__form__button.search-menu__form__button_style
                    img.search-menu__form__button__icon.search-menu__form__button__icon_styles(src='/images/loupe_2.png')
    div.all-chats
        div.all-chats-window.all-chats-window_style


