block left column
    div.search-menu.search-menu_outline
        button.search-menu__button.search-menu__button_style(title="add wrkSpace")
            | +
        form.search-menu__form
            input.search-menu__form__input.search-menu__form__input_style(type="search" name="name" required placeholder="search")
            div.search-menu__form__button.search-menu__form__button_style(data-section='search')
                img.search-menu__form__button__icon.search-menu__form__button__icon_styles(src='../images/loupe_2.png')
    div.all-chats
        div.all-chats-window.all-chats-window_style
