div.column.for-img
    img.messages-pic(src='images/sasha.jpeg')
div.column.for-msg
    div.row.name
        p.person= name
    div.row.message
        div.column.messg-text
            p.mess= lastMsg
        div.column.messg-count
            div.msg-count
                p.mess-n= number

