div.chat-block__image-row
    img.chat-block__image-row__image.chat-block__image-row__image_found(src='images/abkhazia.jpg')
div.chat-block__found-channel-column
    div.chat-block__found-channel-column__wrkspace.chat-block__found-channel-column__wrkspace_style.fluid-font-size_1= wrkspace.name
    div.chat-block__found-channel-column__channel.chat-block__found-channel-column__channel_style= channel.name
    div.chat-block__found-channel-column__message.chat-block__message-column__message-row__last-message_found= message.text