div.bem-chat-block__image-row
    div.bem-chat-block__image-row__loader.bem-chat-block__image-row__loader_style
    img.bem-chat-block__image-row__image.bem-chat-block__image-row__image_style(src='images/sasha.jpeg')
div.bem-chat-block__message-column
    div.bem-chat-block__message-column__name-row.bem-chat-block__message-column__name-row_style= Name
    div.bem-chat-block__message-column__message-row
        div.bem-chat-block__message-column__message-row__last-message.bem-chat-block__message-column__message-row__last-message_style= lastMsg
        if TotalMSGCount !== 0
            div.bem-chat-block__message-column__message-row__messages-counter.bem-chat-block__message-column__message-row__messages-counter_style= TotalMSGCount

