div.chat-block__image-row
    div.chat-block__image-row__loader.chat-block__image-row__loader_style.chat-block__image-row__image_size
    img.chat-block__image-row__image.chat-block__image-row__image_found.chat-block__image-row__image_size(src='images/sasha.jpeg')
div.chat-block__message-column
    div.chat-block__message-column__name-row.chat-block__message-column__name-row_found.fluid-font-size_1= user.username
    div.chat-block__message-column__message-row
        div.chat-block__message-column__message-row__last-message.chat-block__message-column__message-row__last-message_found= message.text
