block content

    a.back(href='/menu' data-section = 'mainPage') back
    form.sign-up-form(method='POST' action='/singup' )
        div.log-in-form
            h1.name Sign up

            input.input_field(type='text'  placeholder='email' name='email')

            input.input_field(type='password'  placeholder='password' name='password')

            input.input_field(type='text'  placeholder='full name' name='fullname')
            button.submit-button(type='submit') Sign up
            p.already Already registered?
            a.already(href='/login' data-section = 'login') Log in
