.bem-chat-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /*so everything in one line*/
    width: 100%;
    height: 10vh; /*experimenting with viewports*/

    box-sizing: border-box;
}

.bem-chat-block_style {
    background-color: #FFFFFF;
    box-shadow: 0 0 8px var(--global-grey-color);
}

.bem-chat-block_style:hover {
    box-shadow: 0 0 8px #475C53;

}

/*image-column element*/

.bem-chat-block__image-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 100%;

    margin: 0 0 0 10px;
}

/*image-column elements*/

.bem-chat-block__image-column__loader {
    width: 80%;
    height: 80%;

    animation: spin 2s linear infinite;
}

.bem-chat-block__image-column__loader_style {
    border: 5px solid #f3f3f3;
    border-top: 5px solid var(--global-green-color);
    border-radius: 50%;
}


.bem-chat-block__image-column__image {
    width: 80%;
    height: 80%;

    object-position: center center;
    object-fit: fill;
    box-sizing: border-box;
}

.bem-chat-block__image-column__image_style {
    border: 1px solid var(--global-green-color);
    border-radius: 50%;
}

.bem-chat-block__image-column__image_style:hover {
    border: 2px solid var(--global-green-color);
}

/*spin function*/

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*message-column element*/

.bem-chat-block__message-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
}

/*message-column elements*/

.bem-chat-block__message-column__name-row {
    width: 90%;
    height: 30%;
    align-self: center;
}

.bem-chat-block__message-column__name-row_style {
    font-family: var(--global-font-family-Roboto);
    font-size: 20px;
    letter-spacing: -0.2px;
    word-spacing: -1px;
    color: #000000;
    font-weight: 400;
}

.bem-chat-block__message-column__message-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 90%;
    height: 50%;
}

.bem-chat-block__message-column__message-row__last-message {
    flex: 0 0 80%;
    height: 40%;
    width:80%;
    align-self: center;
    padding: 5px 0 0 5px;
}
.bem-chat-block__message-column__message-row__last-message_style {
    border-radius: 20px;
    background-color:var(--global-grey-color);
    text-align-all: justify; /*CHECK THIS*/
    font-size: 14px;
    color: #000000;
    font-weight: 300;
    font-family: var(--global-font-family-Roboto);
}

.bem-chat-block__message-column__message-row__messages-counter {
    flex: 0 0 5%;
    align-self: center;
    height: 30%;
    padding: 3px 0 0 0;
}

.bem-chat-block__message-column__message-row__messages-counter_style {
    background-color:var(--global-green-color);
    text-align: center;
    border-radius: 50px;
    font-family: var(--global-font-family-Roboto);
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
}

.bem-chat-block__message-column__message-row__messages-counter:hover {
    margin: 0 0 5px 0;
}

.bem-chat-block__message-column__message-row__messages-counter_style:hover {
    background-color: #1d916b;
}

