div.chat-msg__container
    div.primary-row
        div.primary-row__text.primary-row__text_deleted This message was deleted
        div.primary-row__icon-container
            img.primary-row__icon-container__deleted-icon.primary-row__icon-container__deleted-icon_style(src='/images/bin.png')