div.chat-msg__container
    div.upper-row.upper-row_right
        div.upper-row__name.upper-row__name_style=user.username
    div.primary-row.primary-row_right
        div.primary-row__icon-container
            img.primary-row__icon-container__icon.primary-row__icon-container__icon_style.primary-row__icon-container__icon_size(src='/images/dots.png')
        div.primary-row__time.primary-row__time_style.primary-row__time_style-right=message.message_time
    if (message.message_type == 0)
        div.primary-row__text.primary-row__text_style.primary-row__text_style-right=text
    if (message.message_type == 1)
        div.primary-row__image-container.primary-row__image-container_style-right
    div.secondary-row.secondary-row_right
        if (message.likes)
            div.secondary-row__like
                div.secondary-row__like__button
                    img.secondary-row__like__button__icon.secondary-row__like__button__icon_style.secondary-row__like__button__icon_size(src='/images/like.png')
                div.secondary-row__like__count.secondary-row__like__count_style=message.likes
        div.secondary-row__edited.secondary-row__edited_style

