div.chat-column-main.chat-column-main_size
    div.typing-block
        div.msgwindow-container.msgwindow-container__style.msgwindow-container_size
            div.msgwindow-container__msgwindow.msgwindow-container__msgwindow_style
        form.input
            div.attaches.attaches_style
                div.attaches__options-container.attaches__options-container_style
                    div.attaches__option.attaches__option_style(data-section='attachFile') files
                        input.attaches__option__input(type='file' multiple accept='.pdf, .docx')
                    div.attaches__option.attaches__option_style(data-section='attachPhoto') photos
                        input.attaches__option__input(type='file' multiple accept='image/*')
            div.input__icon-container
                img.input__icon-container__icon.input__icon-container__icon_style.input__icon-container__icon_size(src="/images/add.png")
            div.input__content-container.input__content-container_size
                textarea.input__text.input__text_style(placeholder="chat here..")
                audio#audio(controls ).input__record.input__record_style.input__record_hidden
                div.content-container__images.content-container__images_style.content-container__images_hidden
            div.input__icon-container
                img.input__icon-container__icon.input__icon-container__icon_style.input__icon-container__icon_size.input__icon-container__icon_microphone(src="/images/microphone.png")
            div.input__icon-container
                img.input__icon-container__icon.input__icon-container__icon_style.input__icon-container__icon_size(src="/images/send.png")
    div.message-sett-block
        div.message-sett-block__content.message-sett-block__content_hidden
            div.message-sett-block__content__header.message-sett-block__content__header_style
                div.message-sett-block__content__text.message-sett-block__content__text_style choose option
                div.message-sett-block__content__button
                    img.message-sett-block__content__button__icon.message-sett-block__content__button__icon_style.message-sett-block__content__button__icon_size(src="/images/close.png")
            div.message-sett-block__content__option.message-sett-block__content__option_style.message-sett-block__content__option_size#delete delete message
            div.message-sett-block__content__option.message-sett-block__content__option_style.message-sett-block__content__option_size#edit edit message