div.chat-column-main.chat-column-main_size
    div.typing-block
        div.msgwindow-container.msgwindow-container__style.msgwindow-container_size
            div.msgwindow-container__msgwindow.msgwindow-container__msgwindow_style
        form.input
            div.attaches.attaches_style
                div.attaches__options-container.attaches__options-container_style
                    div.attaches__option.attaches__option_style(data-section='attachFile') files
                        input.attaches__option__input(type='file' multiple accept='.pdf, .docx')
                    div.attaches__option.attaches__option_style(data-section='attachPhoto') photos
                        input.attaches__option__input(type='file' multiple accept='image/*')
            div.input__icon-container
                img.input__icon-container__icon.input__icon-container__icon_style.input__icon-container__icon_size(src="/images/add.png")
            div.input__content-container.input__content-container_size
                textarea.input__text.input__text_style(placeholder="chat here..")
                img.input__content-container__sticker.input__content-container__sticker_style(src="/images/sticker.png")
                audio#audio(controls ).input__record.input__record_style.input__record_hidden
                div.content-container__images.content-container__images_style.content-container__images_hidden
            div.input__icon-container
                img.input__icon-container__icon.input__icon-container__icon_style.input__icon-container__icon_size.input__icon-container__icon_microphone(src="/images/microphone.png")
            div.input__icon-container
                img.input__icon-container__icon.input__icon-container__icon_style.input__icon-container__icon_size(src="/images/send.png")
    div.message-sett-block
        div.sticker-block
            div.sticker-block__content
                div.sticker-block__content__img
                    div.sticker-block__content__img__place-stickers
                        div.stickerpack-1
                            img#sticker1-0.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/001-kitty-47.png")
                            img#sticker1-1.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/002-kitty-46.png")
                            img#sticker1-2.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/003-kitty-45.png")
                            img#sticker1-3.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/004-idea.png")
                            img#sticker1-4.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/005-kitty-44.png")
                            img#sticker1-5.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/006-kitty-43.png")
                            img#sticker1-6.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/007-kitty-42.png")
                            img#sticker1-7.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/008-kitty-41.png")
                            img#sticker1-8.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/009-kitty-40.png")
                            img#sticker1-9.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/010-kitty-39.png")
                        div.stickerpack-2
                            img#sticker2-0.sticker-block__content__img__place-stickers__img(src="/images/food/001-cup.png")
                            img#sticker2-1.sticker-block__content__img__place-stickers__img(src="/images/food/002-burger.png")
                            img#sticker2-2.sticker-block__content__img__place-stickers__img(src="/images/food/003-lemon.png")
                            img#sticker2-3.sticker-block__content__img__place-stickers__img(src="/images/food/004-banana.png")
                            img#sticker2-4.sticker-block__content__img__place-stickers__img(src="/images/food/005-apple.png")
                            img#sticker2-5.sticker-block__content__img__place-stickers__img(src="/images/food/013-nut.png")
                            img#sticker2-6.sticker-block__content__img__place-stickers__img(src="/images/food/014-peas.png")
                            img#sticker2-7.sticker-block__content__img__place-stickers__img(src="/images/food/016-toast.png")
                            img#sticker2-8.sticker-block__content__img__place-stickers__img(src="/images/food/017-cupcake.png")
                            img#sticker2-9.sticker-block__content__img__place-stickers__img(src="/images/food/020-donut.png")

                //div.sticker-block__content_footer
                //     p aaaaaaaa
        div.message-sett-block__content.message-sett-block__content_hidden
            div.message-sett-block__content__header.message-sett-block__content__header_style
                div.message-sett-block__content__text.message-sett-block__content__text_style choose option
                div.message-sett-block__content__button
                    img.message-sett-block__content__button__icon.message-sett-block__content__button__icon_style.message-sett-block__content__button__icon_size(src="/images/close.png")
            div.message-sett-block__content__option.message-sett-block__content__option_style.message-sett-block__content__option_size#delete delete message
            div.message-sett-block__content__option.message-sett-block__content__option_style.message-sett-block__content__option_size#edit edit message
