div.chat-column-main.chat-column-main_size
    div.typing-block
        div.msgwindow-container.msgwindow-container__style.msgwindow-container_size
            div.msgwindow-container__msgwindow.msgwindow-container__msgwindow_style
        form.input
            div.attaches.attaches_style
                div.attaches__options-container.attaches__options-container_style
                    div.attaches__option.attaches__option_style(data-section='attachFile') files
                        input.attaches__option__input(type='file' multiple accept='.pdf, .docx')
                    div.attaches__option.attaches__option_style(data-section='attachPhoto') photos
                        input.attaches__option__input(type='file' multiple accept='image/*')
            div.input__icon-container
                img.input__icon-container__icon.input__icon-container__icon_style.input__icon-container__icon_size(src="/images/add.png")
            div.input__content-container.input__content-container_size
                textarea.input__text.input__text_style(placeholder="chat here..")
                img.input__content-container__sticker.input__content-container__sticker_style(src="/images/sticker.png")
                audio#audio(controls ).input__record.input__record_style.input__record_hidden
                div.content-container__images.content-container__images_style.content-container__images_hidden
            div.input__icon-container
                img.input__icon-container__icon.input__icon-container__icon_style.input__icon-container__icon_size.input__icon-container__icon_microphone(src="/images/microphone.png")
            div.input__icon-container
                img.input__icon-container__icon.input__icon-container__icon_style.input__icon-container__icon_size(src="/images/send.png")
    div.message-sett-block
        div.sticker-block
            div.sticker-block__content
                div.sticker-block__content__img
                    div.sticker-block__content__img__place-stickers
                        img#sticker-0.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/001-kitty-47.png")
                        img#sticker-1.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/002-kitty-46.png")
                        img#sticker-2.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/003-kitty-45.png")
                        img#sticker-3.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/004-idea.png")
                        img#sticker-4.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/005-kitty-44.png")
                        img#sticker-5.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/006-kitty-43.png")
                        img#sticker-6.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/007-kitty-42.png")
                        img#sticker-7.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/008-kitty-41.png")
                        img#sticker-8.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/009-kitty-40.png")
                        img#sticker-9.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/010-kitty-39.png")
                        img#sticker-11.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/011-kitty-38.png")
                        img#sticker-12.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/012-kitty-37.png")
                        img#sticker-13.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/013-kitty-36.png")
                        img#sticker-14.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/014-kitty-35.png")
                        img#sticker-15.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/015-kitty-34.png")
                        img#sticker-16.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/016-kitty-33.png")
                        img#sticker-17.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/017-kitty-32.png")
                        img#sticker-18.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/018-kitty-31.png")
                        img#sticker-19.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/019-kitty-30.png")
                        img#sticker-20.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/020-kitty-29.png")
                        img#sticker-21.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/021-kitty-28.png")
                        img#sticker-22.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/022-kitty-27.png")
                        img#sticker-23.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/023-kitty-26.png")
                        img#sticker-24.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/024-kitty-25.png")
                        img#sticker-25.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/025-kitty-24.png")
                        img#sticker-26.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/026-selfie.png")
                        img#sticker-27.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/027-kitty-23.png")
                        img#sticker-28.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/028-kitty-22.png")
                        img#sticker-29.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/029-kitty-21.png")
                        img#sticker-30.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/030-kitty-20.png")
                        img#sticker-31.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/031-kitty-19.png")
                        img#sticker-32.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/032-kitty-18.png")
                        img#sticker-33.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/033-kitty-17.png")
                        img#sticker-34.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/034-kitty-16.png")
                        img#sticker-35.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/035-kitty-15.png")
                        img#sticker-36.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/036-kitty-14.png")
                        img#sticker-37.sticker-block__content__img__place-stickers__img(src="/images/sticker-pack/037-kitty-13.png")

        div.message-sett-block__content.message-sett-block__content_hidden
            div.message-sett-block__content__header.message-sett-block__content__header_style
                div.message-sett-block__content__text.message-sett-block__content__text_style choose option
                div.message-sett-block__content__button
                    img.message-sett-block__content__button__icon.message-sett-block__content__button__icon_style.message-sett-block__content__button__icon_size(src="/images/close.png")
            div.message-sett-block__content__option.message-sett-block__content__option_style.message-sett-block__content__option_size#delete delete message
            div.message-sett-block__content__option.message-sett-block__content__option_style.message-sett-block__content__option_size#edit edit message
