div.alert-photo.alert-photo_size.alert-photo_style
    div.alert-photo__header.alert-photo__header_style=text
    div.alert-photo__button-row
        div.alert-photo__button-row_button.alert-photo__button-row_button_size.alert-photo__button-row_button_style OK