mixin item(title, href, section, id)
    a.header-refs__ref.header-refs__ref_style(href=href data-section=section )= title

div.header
    a.header__logo(href='/')
        img.header__logo__image(src='../images/logo_2.png')
    if viewType !== 'signUp' && viewType !== 'login'
        div.header-refs
            if loggedIn
                +item('log out', '/logout', 'logout')
                +item('profile', '/profile', 'profile')
            else
                +item('log in', '/login', 'login')
                +item('sign up', '/signup', 'signUp')

block content