.wrkspace-info {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    justify-content: center;
    width: 90%;
}

.wrkspace-info_size {
     @media screen and (min-height: 10px) {
        height: 330px;
    }

     @media screen and (min-height: 400px) {
        height: 500px;
    }


   @media screen and (min-height: 610px) {
        height: 615px;
    }

     @media screen and (min-height: 810px) {
        height: 740px;
    }
}


.wrkspace-info__header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
}

.wrkspace-info__header_size {
    @media screen and (min-height: 10px) {
        height: 20px;
    }

    @media screen and (min-height: 400px) {
        height: 30px;
    }


    @media screen and (min-height: 610px) {
        height: 35px;
    }

    @media screen and (min-height: 810px) {
        height: 40px;
    }
}

.wrkspace-info__header_style {
    background-color: var(--global-grey-color);
}

/*text element in header*/

.wrkspace-info__header__text {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;
    padding: 5px 10px 5px 10px;
}

.wrkspace-info__header__text_style {
    font-family: var(--global-font-family-Roboto);
    font-size: 16px;
    letter-spacing: 0.5px;
    word-spacing: -1px;
    color: #000000;
    font-weight: 300;
}



.wrkspace-info__container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
}

.wrkspace-info__container_size {
    @media screen and (min-height: 10px) {
        height: 200px;
    }

    @media screen and (min-height: 400px) {
        height: 300px;
    }


    @media screen and (min-height: 610px) {
        height: 550px;
    }


    @media screen and (min-height: 810px) {
        height: 700px;
    }
}

.wrkspace-info__container_style {

}


.wrkspace-info__msgwindow {
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 10px 10px 10px;
    align-self: flex-start;
    width: 95%;
    height: unset;
    max-height: 95%;
}

.wrkspace-info__msgwindow_style {
    background-color: transparent;
}

.wrkspace-info__msgwindow::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

.wrkspace-info__msgwindow::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
}
