.wrkspace-info {
    flex: 0 0 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
    justify-content: center;
    width: 80%;
}

.wrkspace-info_size {
     @media screen and (min-height: 10px) {
        height: 330px;
    }

     @media screen and (min-height: 400px) {
        height: 500px;
    }


   @media screen and (min-height: 610px) {
        height: 625px;
    }

     @media screen and (min-height: 810px) {
        height: 755px;
    }
}

.wrkspace-search__column {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 90%;
    width: 80%;
}

.wrkspace-search__search-container {
    flex: 0 0 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.wrkspace-search__search-container_style {
    background-color: var(--global-light-grey-color);
    border-radius: 10px;
}

.wrkspace-search__search-container__input_style {
    background-color: #FFFFFF;
    background-position: right 5px;
    background-repeat: no-repeat;
    font-family: var(--global-font-family-Roboto);
    border: none;
    outline: none;
    border-radius: 10px;
}

.wrkspace-search__user-found_style {
    border-bottom: 1px solid var(--global-middlegrey-color);
}

.wrkspace-search__user-found_style:hover {
    border-radius: 10px;
    border: 1px solid var(--global-darkgrey-color);
    box-shadow: 0 0 2px var(--global-darkgrey-color)
}


.wrkspace-search__msgwindow {
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 10px 10px 10px;
    align-self: center;
    width: 95%;
    height: unset;
    max-height: 95%;
}

.wrkspace-search__msgwindow_style {
    background-color: transparent;
}

.wrkspace-search__msgwindow::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

.wrkspace-search__msgwindow::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
}
