div.wrkspace-info.wrkspace-info_size
    div.wrkspace-info__header.wrkspace-info__header_size.wrkspace-info__header_style
        div.wrkspace-info__header__text.wrkspace-info__header__text_style CHANNELS
    div.wrkspace-info__container.wrkspace-info__container_size
        div.wrkspace-info__msgwindow.wrkspace-info__msgwindow_style
