div.overlay.overlay_style
div.photo-preview.photo-preview_size
    div.photo-preview__image-container
        img.photo-preview__image.photo-preview__image_style.photo-preview__image_size(src='/images/abkhazia.jpg')
        div.overlay_button.overlay_button_big
            div.overlay_button__image-container
                img.overlay_button__image-container__icon.overlay_button__image-container__icon_size-big.overlay_button__image-container__icon_style(src="/images/close.png")


