div.overlay.overlay_style
div.overlay_button
    div.overlay_button__image-container
        img.overlay_button__image-container__icon.overlay_button__image-container__icon_size-big.overlay_button__image-container__icon_style(src="/images/close_white.png")
div.photo-create.photo-create_width.photo-create_size.photo-create_style
    video.photo-create__video.photo-create__video_width.photo-create__video_size.photo-create__video_style(controls playsinline autoplay)
    canvas.photo-create__canvas.photo-create__canvas_width.photo-create__canvas_size.photo-create__canvas_hidden.photo-create__canvas_style
    div.alert-photo__button-row
        div.alert-photo__button-row_button.alert-photo__button-row_button_size.alert-photo__button-row_button_style(data-section = 'capture') CAPTURE
    div.alert-photo__button-row
        div.alert-photo__button-row_button.alert-photo__button-row_button_size.alert-photo__button-row_button_style.alert-photo__button-row_button_hidden(data-section = 'recapture') RECAPTURE
    div.alert-photo__button-row
        div.alert-photo__button-row_button.alert-photo__button-row_button_size.alert-photo__button-row_button_style.alert-photo__button-row_button_hidden(data-section = 'sendPhoto') SEND



