.chat-msg {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: 5px 0 5px 0;
}

.chat-msg_left {
    justify-content: flex-start;
}

.chat-msg_right {
    justify-content: flex-end;
}

/*container element*/

.chat-msg__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}


