.primary-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.primary-container_size {

  @media screen and (min-height: 10px) {
    height: 400px;
  }

  @media screen and (min-height: 400px) {
    height: 600px;
  }


  @media screen and (min-height: 610px) {
    height: 750px;
  }

  @media screen and (min-height: 810px) {
    height: 910px;
  }
}

.primary-container_style{
  background-color: #FFFFFF;
}
