div.chats-block
    div.chats-block__header.chats-block__header_style
        div.chats-block__header__text.chats-block__header__text_style CHATS
    div.chats-block__content.chats-block__content_style