.bem-wrkspace-expandable{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /*so everything in one line*/
    justify-content: flex-start;
    width: 100%;

    overflow: hidden;
    max-height: 0;

    transition: max-height .5s ease-in-out;

}

.bem-wrkspace-expandable_style {
    background: #FFFFFF;
    border-top: 1px solid var(--global-green-color);
}

.bem-wrkspace-expandable_clicked {
    max-height: 50vh; /*just big height for transition*/
}
