div.channel-info__name.channel-info__name_style=`#${name}`
div.channel-info__info.channel-info__info_style
//div.channel-info__creator.channel-info__creator_style
//    div.channel-info__creator__image-row
//        img.channel-info__creator__image-row__image.channel-info__creator__image-row__image_style.channel-info__creator__image-row__image_size(src='images/white.png')
//    div.channel-info__creator__name.channel-info__creator__name_style