@import url('bemHeader/bem-header.css');
@import url('bemHeader/bemHeaderRefs/bem-header-refs.css');
@import url('bemPrimaryContainer/bem-primary-container.css');
@import url('bemPrimaryContainer/bemColumn/bem-column.css');
@import url('bemPrimaryContainer/bemRow/bem-row.css');
@import url('bemProfilePageBlocks/bemSearchMenu/bem-search-menu.css');
@import url('bemProfilePageBlocks/bemAllChats/bem-all-chats.css');
@import url('bemProfilePageBlocks/bemAllChats/bemAllChatsScrollWindow/bem-all-chats-window.css');
@import url('bemProfilePageBlocks/bemAllChats/bemAllChatsScrollWindow/bemChatBlock/bem-chat-block.css');
@import url('bemProfilePageBlocks/bemAllChats/bemAllChatsScrollWindow/bemWrkspaceBlock/bem-wrkspace-block.css');

:root{
    --global-green-color: #2dc68b;
    --global-grey-color: #C4C4C4;
    --global-font-family-Roboto: 'Roboto', sans-serif;
    --global-font-family-Montserrat: 'Montserrat',  sans-serif;
}