div.chat-msg__text.chat-msg__text_deleted This message was deleted
div.chat-msg__icon-container
    img.chat-msg__icon-container__deleted-icon.chat-msg__icon-container__deleted-icon_style(src='../images/bin.png')