div.chat-msg__container
    div.primary-row.primary-row_right
        div.primary-row__icon-container
            img.primary-row__icon-container__icon.primary-row__icon-container__icon_style(src='/images/dots.png')
        div.primary-row__time.primary-row__time_style.primary-row__time_style-right=message_time
        div.primary-row__text.primary-row__text_style.primary-row__text_style-right=text
    div.secondary-row.secondary-row_right
        div.secondary-row__edited.secondary-row__edited_style

