div.chat-msg.chat-msg_right(id=id)
    div.chat-msg__icon-container
        img.chat-msg__icon-container__icon.chat-msg__icon-container__icon_style(src='../images/dots.png')
    div.chat-msg__time.chat-msg__time_style.chat-msg__time_style-right=time
    div.chat-msg__text.chat-msg__text_style.chat-msg__text_style-right=text

