div.wrkspaces-block
    div.wrkspaces-block__header.wrkspaces-block__header_style
        div.wrkspaces-block__header__text.wrkspaces-block__header__text_style WRKSPACES
        div.wrkspaces-block__header__button
            img.wrkspaces-block__header__button__icon.wrkspaces-block__header__button__icon_style(src="../images/add_1.png" title="add wrkspace")
    div.wrkspaces-block__content.wrkspaces-block__content_style