.head-chat-head_chat{
    border-bottom: 1px solid #2dc68b;
    border-top: 1px solid #2dc68b;
    width: 100%;
    flex: 0 0 70px;
}

.head-chat-avatar-container{
    flex: 0 0 70px;
    height: inherit;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.head-chat-avatar {
    margin: 5px 0 0 0;
    align-self: stretch;
    object-position: center;
    display:inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.head-chat-info{
    flex: 0 0 90%;
}

.head-chat-name_usr{
    display:inline-block;
    margin: 10px 0 0 10px;
    font-family: 'Roboto',  sans-serif;
    font-size: 20px;
    letter-spacing: -0.2px;
    word-spacing: -1px;
    color: #000000;
    font-weight: 400;
}

.head-chat-name_usr:hover, .head-chat-name_usr:focus{
    display:inline-block;
    color: #475C53;
    font-weight: bolder;
    font-style: inherit;
    text-shadow: 1px 1px 1px #1d916b;
}
.head-chat-time{
    margin: 5px 0 0 10px;
    color: #C4C4C4;
    font-size: 10px;
}

.head-chat-important {
    flex: 0 10 0;
    border-bottom: 1px solid #2dc68b;
    width: 100%;
}
.important-message{
    margin: 5px 0 0 5px;
}

.head-chat-input_msg{
    border-top: 1px solid #2dc68b;
    border-bottom: 1px solid #2dc68b;
    background: white;
    position: absolute;
    bottom: 0;
    width: 59%;
}
.head-chat-text_msg{
    width: 59%;
    border-radius: 5px;

}
.head-chat-btn{
    background: transparent;
    border: none;
}
.head-chat-column-left{
    min-height: 30px;
    padding-left: 5px;
    padding-top: 3px;
    margin: 3px;
}
.head-chat-column-right{
    min-height: 30px;
    padding-right: 5px;
}
.head-chat-field_msg{
    height: 100%;
}
body{
    margin: 0;
}

.msgRight-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
.msgLeft-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.head-chat-msgRight{
    background: #C4C4C4;
    border-radius: 15px;
    width: auto;
    max-width: 50%;
    min-height: 30px;
    margin-bottom: 15px;
}
.head-chat-msgLeft {
    background: #2dc68b;
    border-radius: 15px;
    float: left;
    width: auto;
    min-height: 30px;
    max-width: 50%;
}
.head-chat-msgLeft p{
    padding:5px 3px 5px 3px;
    margin: 0;
    font-size: 14px;
}
.head-chat-msgRight p{
    padding: 5px 3px 5px 3px;
    margin: 0;
    font-size: 14px;
}