.chat-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width:100%;
    justify-content: stretch;
}
.chat-scroll{
    width: 100%;
    align-self: start;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 20 0 500px;
}
.chat-scroll::-webkit-scrollbar{
    width: 7px;
    background-color: #FFFFFF;
}
.chat-scroll::-webkit-scrollbar-thumb {
    background-color: #2dc68b;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.input-container{
    flex: 0 0 40px;
    display: flex;
    background-color: #FFFFFF;
    flex-direction: row;
}
.message-text-input{
    outline: none;
    border: none;
    resize: none;
    margin: 5px 0 0 0;
    flex: 20;
    box-sizing: border-box;
    border-radius: 10px;
    height: 40px;
    overflow-y:hidden;
    background-color: #C4C4C4;
}
.icon-chat-container{
    flex: 0 0 70px;
    height: 70px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.icon-chat:hover{
    filter: invert(0.7) brightness(200%) saturate(10%);
    border-radius: 20px;
    border: 0.5px solid #FFFFFF;

}


.icon-chat{
    margin: 5px 5px 5px 5px;
    filter: opacity(0.9);
    object-fit: scale-down;
    object-position: center;
    max-width:40%;
    max-height:40%;
    height: unset;
}
.message-chat{
    width: 100%;
    height: 150px;
    background-color: #C4C4C4;
}
