.search-menu {
    flex: 0 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /*so everything in one line*/
    justify-content: space-between;
    width: 100%;
    height: 7vh; /*experimenting with viewports*/

    box-sizing: border-box;
}

.search-menu_outline {
    border-top: 1px solid var(--global-grey-color);
    border-bottom: 1px solid var(--global-grey-color);
}

/* create-wrkspace-button element*/

.search-menu__button {
    flex: 0 10 auto;
    align-self: center;
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

.search-menu__button_style {
    outline: none;
    background-color: #FFFFFF;
    font-size: 15px;
    color: #000000;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

/* form element*/

.search-menu__form{
    flex: 10 0 0; /*width not specified, max growing*/
    height: 80%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin: 5px 10px 5px 10px;
}

/* input element in form*/
.search-menu__form__input{
    flex: 10 0 auto; /*max growing*/
    align-self: center;
    width: 20vw; /*fixed width*/
    height: 60%;
}

.search-menu__form__input_style{
    background-color: var(--global-grey-color);
    background-position: right 5px;
    background-repeat: no-repeat;
    font-family: var(--global-font-family-Roboto);
    border: none;
    outline: none;
    border-radius: 10px;
}

.search-menu__form__input_style::-webkit-search-cancel-button{
    visibility: hidden; /*hide red cross in input*/
}
/* submit-button element in form*/
.search-menu__form__button {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 6vw;
    height: 100%;

}

.search-menu__form__button_style {
    outline: none;
    background-color: #FFFFFF;
    border: none;
}


/*icon element in submit-button*/

.search-menu__form__button__icon {
    object-fit: scale-down;
    object-position: top;
    align-self: center;
    max-width:40%;
    max-height:40%;
    height: 3vh; /*experimenting with viewports*/
}
.search-menu__form__button__icon_style {
    filter: opacity(0.9);
}
.search-menu__form__button__icon_style:hover{
    filter: invert(0.7) brightness(200%) saturate(10%);
    border-radius: 20px;
}