div.wrkspace-page-header
    div.wrkspace-page-header__image-row
        div.wrkspace-page-header__image-row__loader.wrkspace-page-header__image-row__loader_style
            img.wrkspace-page-header__image-row__image.wrkspace-page-header__image-row__image_style(src='images/abkhazia.jpg')
            input.wrkspace-page-header__image-row__input(type='file')
    div.wrkspace-page-header__info-column