div.wrkspace-page-header
    div.wrkspace-page-header__image-row
        div.wrkspace-page-header__image-row__loader.wrkspace-page-header__image-row__loader_style.hidden
        img.wrkspace-page-header__image-row__image.wrkspace-page-header__image-row__image_style(src='../images/abkhazia.jpg')
        input.wrkspace-page-header__image-row__input(type='file')
    div.wrkspace-page-header__info-column
        div.wrkspace-page-header__info-column__name.wrkspace-page-header__info-column__name_style= currentWrkspace.Name
        div.wrkspace-page-header__info-column__info.wrkspace-page-header__info-column__info_style= 'CHANNELS '+ currentWrkspace.Channels.length
        div.wrkspace-page-header__info-column__info.wrkspace-page-header__info-column__info_style= 'MEMBERS '+ currentWrkspace.Members.length
        div.wrkspace-page-header__info-column__info.wrkspace-page-header__info-column__info_style= 'CREATOR ' + currentWrkspaceCreator.username
    div.wrkspace-page-header__settings-column
        div.wrkspace-page-header__settings-column__button
            img.wrkspace-page-header__settings-column__button__icon.wrkspace-page-header__settings-column__button__icon_style(src='../images/dots.png')
        div.wrkspace-page-dropdown
            div.wrkspace-page-dropdown__option.wrkspace-page-dropdown__option_style Add user