block content
div.primary-container.primary-container_style.container-wrap.primary-container_size
    if viewType !== "login" && viewType !== "signUp" && viewType !== "mainPage"
        div.column.column_size.column_left
            block left column
        div.column.column_size.column_right
            block page