block content
div.primary-container.primary-container_style.container-wrap.primary-container_size
    if viewType !== "login" && viewType !== "signUp" && viewType !== "mainPage"
        div.column.column_size.column_left.column_left-outlined
            block left column
        div.column.column_size.column_right.column_right-outlined
            block page