.channel-header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}

.channel-header_size {
     @media screen and (min-height: 10px) {
        height: 100px;
    }

     @media screen and (min-height: 400px) {
        height: 120px;
    }


   @media screen and (min-height: 610px) {
        height: 140px;
    }

     @media screen and (min-height: 810px) {
        height: 162px;
    }

}


/*info-row element*/

.channel-header__info-row {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /*so everything in one line*/
    justify-content: flex-start;
    height: 80%;
    width: 100%;

}

.channel-header__info-row_style {
    border-bottom: 1.5px solid var(--global-grey-color);
}


/*image-column element in info-row*/

.channel-header__info-row__image-row {
    flex: 0 0 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    height: 100%;

    margin: 0 10px 0 10px;
}


/*info-column element*/

.channel-header__info-row__info-column {
    flex: 0 0 88%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

}
/*info-column elements*/

.channel-header__info-row__info-column__name-row {
    flex: 0 0 30%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
}

.channel-header__name-row__text {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-end;
    padding: 0 6px 0 0;
}

.channel-header__name-row__text_word {
    font-family: var(--global-font-family-Montserrat);
    font-size: 16px;
    letter-spacing: -0.2px;
    word-spacing: -1px;
    color: var(--global-darkgrey-color);
    font-weight: 300;
}

.channel-header__name-row__text_style {
    font-family: var(--global-font-family-Montserrat);
    font-size: 26px;
    letter-spacing: -1px;
    word-spacing: -1px;
    color: #000000;
    font-weight: 400;
}


.channel-header__info-row__info-column__channel-row {
    flex: 0 0 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
}

.channel-header__info-row__info-column__channel-row_style {
    font-family: var(--global-font-family-Roboto);
    color: var(--global-nicegrey-color);
    font-size: 28px;
}




/*pinned-element element*/

.channel-header__pinned-message {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /*so everything in one line*/
    justify-content: flex-start;
}

.channel-header__pinned-message_style {
    border-bottom: 1.5px solid var(--global-grey-color);
}

/*content element in pinned-message*/

.channel-header__pinned-message__content  {
    align-self: center;
    padding: 0 0 0 10px;
}

.channel-header__pinned-message__content_style {
    font-family: var(--global-font-family-Roboto);
    font-size: 18px;
    letter-spacing: 0.2px;
    word-spacing: 1px;
    color: var(--global-darkgrey-color);
    font-weight: 400;
}

/*icon element in pinned-message*/
.channel-header__pinned-message__icon {
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    object-position: center center;
    object-fit: fill;

    margin: 5px 5px 5px 5px;
}

.channel-header__pinned-message__icon_style {
    filter: opacity(0.6);
}




/*drop-down settings*/


.channel-header__dropdown__dropbtn {
    padding: 10px;
    cursor: pointer;
    width: 20px;
    margin-bottom: 5px;
}

/* The container <div> - needed to position the dropdown content */
.channel-header__dropdown {
    position: relative;
    display: inline-block;
    flex: 0 0 10%;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.channel-header__info-row__btnblock{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* Dropdown Content (Hidden by Default) */
.channel-header__dropdown__dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 5px;
}

.channel-header__dropdown__dropdown-content_style {
    background-color: var(--global-green-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.channel-header__dropdown__dropdown-content p {
    color: black    ;
    padding: 6px 2px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 4px 4px;
    border-radius: 5px;
    font-family: var(--global-font-family-Montserrat);

}

/* Change color of dropdown links on hover */
.channel-header__dropdown__dropdown-content p:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.channel-header__dropdown:hover .channel-header__dropdown__dropdown-content {
    display:block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.channel-header__dropdown:hover .channel-header__dropdown__dropbtn {
    border-radius: 100px;
    background-color: var(--global-selected-color);
}

.channel-header__dropdown__dropdown-content__option {

}
