.profile-header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /*so everything in one line*/
    justify-content: center;
    width: 100%;
    height: 40%;

}

/* image-row element*/

.profile-header__image-row {
    flex: 0 0 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 0 0;
}

/* image element in image-row*/

.profile-header__image-row__image {
    width: 24vh; /*experimenting with viewports*/
    height: 24vh;

    object-position: center center;
    object-fit: fill;
    box-sizing: border-box;
}

.profile-header__image-row__image_style {
    border: 2px solid var(--global-green-color);
    border-radius: 50%;

}

.profile-header__image-row__image_style:hover {
    border: 3px solid var(--global-green-color);
}
/* loader element in image-row*/

.profile-header__image-row__loader {
    width: 20vh; /*experimenting with viewports*/
    height: 20vh;

    animation: spin 2s linear infinite;
}

.profile-header__image-row__loader_style {
    border: 16px solid var(--global-loader-grey-color);
    border-top: 16px solid var(--global-green-color-1);
    border-radius: 50%;
}

/* input element in image-row*/

.profile-header__image-row__input{
    display: none;
}


/* username-column element*/

.profile-header__username-column {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100% ;

    margin: 0 0 0 20px;
}

/* username element in username-column*/

.profile-header__username-column__username {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    width: 100%;
}

.profile-header__username-column__username__text {
    flex: 0 0 auto;
    align-self: center;
    height: 50%;
    width: 100%;
}

.profile-header__username-column__username__text_style {
    font-family: var(--global-font-family-Montserrat);
    font-size: 36px;
    color: #000000;
    font-weight: 400;
}

.profile-header__username-column__username__text_hidden {
    display: none;
}

.profile-header__username-column__username__text_error {
    border-bottom: 1px solid var(--global-error-color);
}

.profile-header__username-column__username__input {
    flex: 0 0 auto;
    align-self: center;
    height: 50%;
    width: 100%;
}

.profile-header__username-column__username__input_style {
    outline: none;
    border: none;
    font-family: var(--global-font-family-Montserrat);
    font-size: 36px;
    color: #000000;
    font-weight: 400;
}

.profile-header__username-column__username__input_hidden {
    display: none;
}
/* fullname element in username-column*/

.profile-header__username-column__fullname {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    width: 100%;
}

.profile-header__username-column__fullname__text {
    flex: 0 0 auto;
    align-self: center;
    height: 50%;
    width: 100%;
}

.profile-header__username-column__fullname__text_style {
    font-family: var(--global-font-family-Roboto);
    font-size: 24px;
    color: #000000;
    font-weight: 200;
}


.profile-header__username-column__fullname__text_hidden {
    display: none;
}

.profile-header__username-column__fullname__text_error {
    border-bottom: 1px solid var(--global-error-color);
}

.profile-header__username-column__fullname__input {
    flex: 0 0 auto;
    align-self: center;
    height: 50%;
    width: 100%;
}

.profile-header__username-column__fullname__input_style {
    outline: none;
    border: none;
    font-family: var(--global-font-family-Roboto);
    font-size: 24px;
    color: #000000;
    font-weight: 200;
}

.profile-header__username-column__fullname__input_hidden {
    display: none;
}

/* error element in username-column*/

.profile-header__username-column__error {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    height: auto;
    max-height: 20px; /*dirty code to prevent errors, height set as font-size*/
}

.profile-header__username-column__error_style {
    color: var(--global-error-color);
    font-size: 18px;
    font-family: var(--global-font-family-Montserrat);
}

