block content
    div.channelHeaderMenuItems__info.channelHeaderMenuItems__add_style
        form.wrkspace-form__form
            div.channel-form__form__name.channel-form__form__name_style Add member
            input.channel-form__form__input-field.channel-form__form__input-field_style(type='text' placeholder='user name' name='userName')
            div.msgwindow-container__msgwindow.msgwindow-container__msgwindow_style
            button.wrkspace-form__form__submit-button.wrkspace-form__form__submit-button_style(type='submit') Add!
