block content
    div.channelHeaderMenuItems__info_overlay
    div.channelHeaderMenuItems__add.channelHeaderMenuItems__info_style
        form.add-form_style
            div.channel-form__form__name.channel-form__form__name_style Add member
            div.channel-add-form__prokrutka.channel-add-form__prokrutka_style

