block page
    div.chat-column
        div.channel-header.channel-header_size
            div.channel-header__info-row.channel-header__info-row_style
                div.channel-header__info-row__info-column
                    div.channel-header__info-row__info-column__channel-row.channel-header__info-row__info-column__channel-row_style=`#${currentChannel.name}`
                    div.channel-header__info-row__info-column__name-row
                        div.channel-header__name-row__text.channel-header__name-row__text_word=`wrkspace `
                        div.channel-header__name-row__text.channel-header__name-row__text_style=`${currentWrkspace.name}`
                div.channel-header__info-row__btnblock
                    div.channel-header__dropdown
                        img.channel-header__dropdown__dropbtn(src="/images/setting1.png")
                        div.channel-header__dropdown__dropdown-content.channel-header__dropdown__dropdown-content_style
                            //p.channel-header__dropdown__dropdown-content__option(data-section='viewInfo') view channel info
                            if (currentWrkspace.members.length > 1)
                                p.channel-header__dropdown__dropdown-content__option(data-section='addMember') add member
                            //p.channel-header__dropdown__dropdown-content__option(data-section='findMessage') find message
                            p.channel-header__dropdown__dropdown-content__option(data-section='deleteChannel') delete channel
                            //p.channel-header__dropdown__dropdown-content__option(data-section='leaveChannel') leave channel

            //if Object.keys(importantMessage).length !== 0
            //    div.channel-header__pinned-message.channel-header__pinned-message_style
            //        div.channel-header__pinned-message__content.channel-header__pinned-message__content_style=importantMessage.text
            //        img.channel-header__pinned-message__icon.channel-header__pinned-message__icon_style(src="/images/pinned.png")

