block content
    div.channelHeaderMenuItems__info.channelHeaderMenuItems__info_style
        p.channelHeaderMenuItems__info__text.channelHeaderMenuItems__info_style__text some interesting info about this channel
        button.wrkspace-form__form__submit-button.wrkspace-form__form__submit-button_style(type='ok') Ok!