block content
    div.channel-header-menu__info_overlay
    div.channel-header-menu__info.channel-header-menu__info_style
        p.channel-header-menu__info__text.channel-header-menu__info_style__text some interesting info about this channel
        button.wrkspace-form__form__submit-button.wrkspace-form__form__submit-button_style(type='ok') Ok!