//div.chat-block__image-row
//    div.chat-block__image-row__loader.chat-block__image-row__loader_style
//    img.chat-block__image-row__image.chat-block__image-row__image_style(src='images/sasha.jpeg')
div.name=fullname
div.username= username