.bem-all-chats-window{
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px 0 0 0;


    overflow-y: scroll; /*make it scroll window*/
    overflow-x: hidden;
}

/*styling scrollable window block*/
.bem-all-chats-window_style{

}

.bem-all-chats-window_style::-webkit-scrollbar{
    width: 7px;
    background-color: #FFFFFF;
}
.bem-all-chats-window_style::-webkit-scrollbar-thumb {
    background-color: var(--global-green-color);
    -webkit-box-shadow: inset 0 0 6px var(--global-darkgrey-color);
}