mixin item(title, href, section, id)
    a.change(href=href data-section=section )= title

div.head
    a(href="/")
        img.logo(src="images/logo_2.png")
    if loggedIn
        +item('log out', '/logout', 'logout')
        +item('profile', `/profile`, "profile")
    else
        +item('log in', `/login`, "login")
        +item('sign up', `/signup`, "signUp")

block content