mixin item(title, href, section, id)
    a.change(href=href data-section=section id=id)= title

div.head

    a(href="/")
        img.logo(src="images/logo_2.png")
    if login
        +item('log out', '', 'logout', 'logout-link')
        +item('profile', `/profile`, "profile", "profile-link")
    else
        +item('log in', `/login`, "login", "login-link")
        +item('sign up', `/signup`, "signUp", "signup-link")

block content