div.wrkspace-visible.wrkspace-visible_style.wrkspace-visible_size
        div.wrkspace-visible__name-row
            div.wrkspace-visible__image-row
                div.wrkspace-visible__image-row__loader.wrkspace-visible__image-row__loader_size.wrkspace-visible__image-row__loader_style.hidden
                img.wrkspace-visible__image-row__image.wrkspace-visible__image-row__image_style.wrkspace-visible__image-row__image_size(src='/images/abkhazia.jpg')
            div.wrkspace-visible__name-row__text.wrkspace-visible__name-row__text_style= name
            div.wrkspace-visible__name-row__info-button
                img.wrkspace-visible__name-row__info-button__icon.wrkspaces-block__header__button__icon_size(src='/images/info_1.png' title="wrkspace info")
        div.wrkspace-visible__chann-row
            div.wrkspace-visible__chann-row__channels.wrkspace-visible__chann-row__channels_style CHANNELS
            div.wrkspace-visible__chann-row__add-channel-button
                img.wrkspace-visible__chann-row__add-channel-button__icon.wrkspace-visible__chann-row__add-channel-button__icon_style.wrkspaces-block__header__button__icon_size(src="/images/add_1.png" title="add channel")
            if channels !== null
                div.wrkspace-visible__chann-row__arrow
                    img.wrkspace-visible__chann-row__arrow__icon-up.wrkspace-visible__chann-row__arrow_style.wrkspaces-block__header__button__icon_size(src="/images/arr_up.png")
                    img.wrkspace-visible__chann-row__arrow__icon-down.wrkspace-visible__chann-row__arrow_style.wrkspaces-block__header__button__icon_size.hidden(src="/images/arr_down.png")
                div.wrkspace-visible__chann-row__number.wrkspace-visible__chann-row__number_style= channels.length



