div.wrkspace-chann.wrkspace-chann_style
    div.wrkspace-chann__name.wrkspace-chann__name_style= "#"+ name
    div.wrkspace-chann__icons-row
        if channel.private
            img.wrkspace-chann__icons-row__icon.wrkspace-chann__icons-row__icon_style(src="images/lock.jpg")
        if channel.public
            img.wrkspace-chann__icons-row__icon.wrkspace-chann__icons-row__icon_style(src="images/post.png")
        if channel.starred
            img.wrkspace-chann__icons-row__icon.wrkspace-chann__icons-row__icon_style.wrkspace-chann__icons-row__icon_green(src="images/star.png")
        if channel.muted
            img.wrkspace-chann__icons-row__icon.wrkspace-chann__icons-row__icon_style(src="images/muted.png")
    if channel.messages != null
        div.wrkspace-chann__messages-counter.wrkspace-chann__messages-counter_style= channel.messages