.bem-primary-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /*so everything in one line*/
    width: 100%;
    height: 93vh; /*bem-header is 5vh*/
}

.bem-primary-container_style{
    background-color: #FFFFFF;
}
