.wrkspace-block{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /*so everything in one line*/
    width: 100%;
    margin: 5px 5px 5px 10px;
    box-sizing: border-box;
}

.wrkspace-block_style {
    background-color: #FFFFFF;
    box-shadow: 0 0 8px var(--global-grey-color);
}

.wrkspace-block_style:hover {
    border: 1px solid var(--global-darkgrey-color);
    box-shadow: 0 0 8px var(--global-darkgrey-color);
}
